.input {
    border: 3px solid green;
}
.input_error {
    border: 3px solid red;
}
.error {
    color: red;
}
.done {
    opacity: 0.5;
    text-decoration: line-through;
}
.filter {
    background-color: aquamarine;
}
.filter_active {
    background-color: blueviolet;
}